.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F5EEDC;
  margin-bottom: 0;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #C0D8C0;
}

p {
  font-size: 2rem;
  color: #C0D8C0;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 7%;
  margin-bottom: 0;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-color: #ECB390;
  padding: 40px;

}
